body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.access-code form {
    margin-top: 20px;
}

.access-code input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.access-code button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.access-code button:hover {
    background-color: #218838;
}

#errorMessage {
    margin-top: 10px;
}
/* Titre dynamique pour Giveaway */
.giveaway-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #007bff; /* Bleu dynamique */
    margin-bottom: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    transform: skewX(-5deg); /* Inclinaison vers la droite */
}

/* Tableau pour la page Giveaway */
.giveaway-table {
    width: 70%;
    margin: 0 auto; /* Centre le tableau */
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.giveaway-table th, .giveaway-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}

.giveaway-table th {
    background-color: #007bff;
    color: white;
    font-size: 18px;
}

.giveaway-table td {
    font-size: 16px;
    background-color: #f9f9f9;
}
