.crypto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.crypto-name {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-right: 10px; /* Espace entre le nom et l'indice */
}

.crypto-index {
    font-size: 1.2em;
    color: #666;
    margin-left: 5px;
}

.price-up {
    color: green;
}

.price-down {
    color: red;
}
